body{
    background-image: repeating-radial-gradient( #00f , #0ff 10% , #fff 15%);
}


#navbar{

display:flex;
justify-content: flex-end;
gap:2em;
padding-right: 2em;
}
#main{

display:flex;
height:100%;
    position: fixed;
    background: wheat;
    width: 40em;
    height: 30em;
    justify-self: center;
    align-self: anchor-center;
    box-shadow: 0.3em 0.3em 1em #00f;
    border-radius: 4%;


}
.nav-link{

    
}
#left-col{
width: 50%;
}
#right-col{

    width: 50%;
}

#hero{
 width: 100%;
}
#stylish{
    font-size: 2em;
    transition:all 0.3s 
    
}
.secretlink {
    position: fixed; 
    text-decoration: none;
color:white;

cursor: pointer;
transition:all 0.5s;
text-shadow: 0.05em 0.05em 0.01em;

top: 0.5em;
right: 28em;

}