#title {
    background: orangered;
    font-size: 5em;
    width: 100%;
    text-align: center;
}

.content{
    background:blue;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
#content-contaner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}