body{
    background-image: repeating-radial-gradient( #00f , #0ff 10% , #fff 15%);
}


#navbar{

display:flex;
justify-content: flex-end;
gap:2em;
padding-right: 2em;
}
#main{

display:flex;
height:100%
}
.nav-link{

    
}
#left-col{
width: 50%;
}
#right-col{

    width: 50%;
}

#hero{
 width: 32em;
}
#stylish{
    font-size: 2em;
    
}